.el-pagination{margin-top: 30px;}
.el-menu{border: none; width: 200px; text-align: left};
.el-menu--collapse{width: 64px;}
.el-date-editor .el-range-separator{padding:0}
.el-pagination{text-align: center;}
.el-popover{padding: 0}
.el-dialog{
  min-width: 600px;
  .el-dialog__header{
    border: 1px solid #e8e8e8
  }
  .el-dialog__title{
    border-left: 3px solid #11D59C;
    padding-left: 10px;
  }
  .el-dialog__body{
    padding: 20px;
  }
}
.img-review-dialog{
  height: 0;
  .el-dialog__header{
    display: none;
  }
}
.add-org-dialog{
  min-width: 400px;
}